PORT = 3001

JWT_SECRET="Your JWT secret key here"
REFRESH_SECRET="Your refresh secret key here"
DATABASE_URL="Your database connection URL here"

CONSOLE_DEV_URL="Your console development URL here"

BUCKET_REGION="auto"
BUCKET_ACCESS_KEY_ID="Your bucket access key ID here"
BUCKET_SECRET_ACCESS_KEY="Your bucket secret access key here"
BUCKET_ENDPOINT="Your bucket endpoint URL here"
BUCKET_NAME="Your bucket name here"
BUCKET_URL="Your bucket URL here"